.flashcards__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.flashcards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.deck__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem 2rem 2rem;
  border: none;
}

.deck__wrapper h1 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  text-align: center;
  align-self: center;
}

/* Media Queries */

/* Tablet */
@media screen and (min-width: 768px) {
  .deck__wrapper {
    align-self: center;
    width: 70%;
  }
}

/* Laptop */
@media screen and (min-width: 1024px) {
  .flashcards__container {
    align-self: flex-end;
    width: 75%;
  }
  .deck__wrapper {
    align-self: center;
    width: 50%;
  }
}
