.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999999;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
  }
  
  .spinner {
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-top: 6px solid #FF7B00;
    border-radius: 50%;
    width: 3.75rem;
    height: 3.75rem;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }