
.home__navbar-right button {
  padding: 0.5rem 1rem;
  color: #111111;
}

.home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 7rem 3rem 3rem 3rem;
  text-align: center;
}


.home-card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 0 2rem;
}

.home-card__image {
  background-image: url("/public/images/iPhone.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50rem;
}






