.password-input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.85rem;
    width: 100%;
    position: relative;
    padding: 0.75rem 0.5rem 0.25rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }

  .password-input-wrapper label {
    font-weight: 200;
    position: absolute;
    top: -0.7rem;
    left: 1rem;
    background-color: #e6f1f6 ;
    padding: 0 0.5rem;
    font-size: 0.75rem;
    color: #333;
    font-weight: 500;
  }
  
  .password-input-wrapper input {
    padding: 0.35rem;
    border: 1px solid #e9e9e9;
    border-radius: 0.5rem;
    width: 100%;
    font-size: 1rem;
  }

  .password-input-container {
    position: relative;
    width: 100%;
    margin-bottom: 0.35rem;
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #666;
    cursor: pointer;
    width: min-content;
    font-size: 0.85rem;
  }
  
  .password-toggle:hover {
    color: #035172;
  }