* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

/* Signup */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #035172;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
  width: 80%;
  height: 70%;
  padding: 1.75rem;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: rem;
 margin-bottom: 2rem;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
  color: #e9e9e9;
}

.logo span {
  color: #dfef05;
}

.tagline {
  font-size: .85rem;
  font-weight: 200;
  color: #e9e9e9;
}

.signup-form fieldset {
  border: none;
  padding: 0;
  margin: 0 0 1rem;
  width: 100%;
}

.signup-form fieldset legend {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.form-group label {
  font-weight: 200;
  margin-bottom: 0.25rem;
}

.form-group input {
  padding: .75rem;
  border: 1px solid #e9e9e9;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

.form-group button {
  padding: .75rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #035172;;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  width: 100%;
}