* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

input:focus,
button:focus {
  outline: 2px solid #00e1ff;
  outline-offset: 2px;
}

button,
input {
  transition: all 0.2s ease-in-out;
}

button:disabled {
  opacity: 0.5;
  background-color: #a3a3a3;
  color: #111111;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 0.7rem;
}

a {
  text-decoration: none;
}
/* Button */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.75rem;
  margin: 0;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-blue {
  background-color: #035172;
  color: #ffffff;
}

.btn-light {
  background-color: #e6f1f6;
  color: #111111;
}

.btn-transparent {
  background-color: transparent;
  color: #035172;
  border: none;
  cursor: pointer;
}

.google-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  padding: 0;
}

/* Toast */

.toast {
  position: fixed;
  top: -100px;
  left: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.75rem;
  transform: translateX(-50%);
  padding: 1rem;
  width: fit-content;
  border-radius: 6px;
  font-size: .85rem;
  color: #fff;
  z-index: 1000;
  opacity: 0;
  animation: slideDown 0.3s ease-in-out forwards;
}

.toast-message {
  flex: 1;
}

.toast-success {
  background-color: #2ecc71;
}

.toast-error {
  background-color: #e74c3c;
}

.toast-warning {
  background-color: #f39c12;
}

@keyframes slideDown {
  to {
    top: 1rem;
    opacity: 1;
  }
}

/* Loader */

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(230, 241, 246, 0.5);
  z-index: 9999;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.spinner {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-top: 6px solid #00e1ff;
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Signup/Login */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #035172;
}

.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e6f1f6;
  width: 80%;
  max-width: 500px;
  padding:  2rem 1.75rem;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
  color: #e9e9e9;
}

.logo span {
  color: #ed0c0c;
}

.tagline {
  font-size: 0.85rem;
  font-weight: 200;
  color: #e9e9e9;
}

.signup-form fieldset,
.login-form fieldset {
  border: none;
  padding: 0;
  margin: 2rem 0 0;
  width: 100%;
}

.signup-form fieldset legend,
.login-form fieldset legend {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-group-top,
.form-group-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.form-group-top p,
.form-group-bottom p {
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.form-group-top .link,
.form-group-bottom .link {
  text-decoration: none;
  color: #035172;
  font-size: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: .85rem;
  width: 100%;
}

.form-group label {
  font-weight: 200;
  margin-bottom: 0.25rem;
}

.form-group input {
  padding: 0.75rem;
  border: 1px solid #e9e9e9;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

.password-input-container {
  position: relative;
  width: 100%;
}

.password-toggle {
  position: absolute;
  top: 50%;
  left: 14rem;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #666;
  cursor: pointer;
  width: min-content;
}

.password-toggle:hover {
  color: #035172;
}

.form-group button {
  width: 100%;
  margin-top: 1rem;
}


/* Home */

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.home-logo {
  font-size: 1.5rem;
  color: #111111;
}

.home-logo span {
  color: #ed0c0c;
}

.home-tagline {
  font-size: 0.5rem;
  color: #111111;
}

.home-navbar-left {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  width: 50%;
}

.home-navbar-right {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  margin-right: 1rem;
  width: 50%;
}

.home-navbar-right button {
  padding: 0.5rem 1rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
}

.home-content h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #111111;
  font-weight: 600;
}

.home-content p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #111111;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.home-content button {
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
}

.home-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.home-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: #e6f1f6;
  border-radius: 0.5rem;
  text-align: center;
  width: 20rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.home-card h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #111111;
  font-weight: 500;
}

.home-card p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #111111;
  font-weight: 300;
  line-height: 1.5;
}

/* Media Queries */

@media (max-width: 400px) {

  :root {
    font-size: 12px;
  }

  .password-toggle {
    left: 17rem;
  }

}


