/* ------------------------------------------------------------- */
/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 14 px;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  height: 100vh;
}

main {
  height: 100vh;
}

/* Media Queries */

@media screen and (max-width: 395px) {
  :root {
    font-size: 12px;
  }
}

/* ------------------------------------------------------------- */
/* Base Elements */

input {
  transition: all 0.2s ease-in-out;
}

input:focus,
button:focus {
  outline: 2px solid #00e1ff;
  outline-offset: 2px;
}

a {
  text-decoration: none;
}

button {
  transition: all 0.2s ease-in-out;
}

button:disabled {
  opacity: 0.5 !important;
  background-color: #a3a3a3 !important;
  color: #111111 !important;
  cursor: not-allowed !important;
}

/* ------------------------------------------------------------- */
/* Utilities */

.error {
  color: red;
  font-size: 0.7rem;
}

.error-list {
  color: red;
  font-size: 0.7rem;
  margin-top: 0.5rem;
  list-style-type: none;
}

.input-error {
  outline: 1px solid red !important;
}

.google-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: #035172;
  font-size: 1rem;
  cursor: pointer;
}

.btn--link {
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: #000000;
}

.action-buttons-wrapper {
  margin: 0 0 0 0;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.action-button span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.action-button:focus {
  outline: none;
}

.action-button {
  background: transparent;
  font-size: 0.85rem;
  color: #575757;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* ------------------------------------------------------------- */
/* Cards */
.card--blue {
  background-color: #e6f1f6 ;
  border: 1px solid #e9e9e9;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.card--white {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
