.error__container {
    color: #FF7B00;
    font-size: 0.9rem;
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 0 !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #FF7B00;
  }
  
  .error__container p {
    padding: 1.5rem 0;
  }
  
  .error__container button {
    width: fit-content;
  }