.chat-error-container {
    color: #e74c3c;
    font-size: 0.9rem;
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 0 !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #e74c3c;
  }
  
  .chat-error-container p {
    padding: 1.5rem 0;
  }
  
  .chat-error-container button {
    width: fit-content;
  }