.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #001826;
    padding: .5rem;
  }
  
  .logo-sm {
    font-weight: bold;
    color: #ffffff !important;
  }
  
  
  .logo-sm {
    font-size: 1.2rem;
  }
  
  .logo-sm span {
    color: #FF7B00;
  }
  
  .logo-dark {
    color: #ffffff;
  }
  
  .logo-light {
    color: #e9e9e9;
  }
  
  .tagline-sm {
    font-weight: 200;
    font-size: 0.5rem;
    color: #ffffff !important;
  }
  
  .tagline-light {
    color: #e9e9e9;
  }
  
  .tagline-dark {
    color: #ffffff;
  }